<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">


  <div class="ion-padding">
    <div class="ion-padding">
      <div class="container-form-btn">
        <button class="learn-more" (click)="newStudent()">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">Cargar estudiante</span>
        </button>
      </div>
      <div class="flex-row ion-padding">
        <div class="container-form-btn">
          <button class="learn-more" (click)="home()">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Inicio</span>
          </button>
        </div>
      </div>
    </div>

    <ion-item class="wrap-input" color="#622d87">
      <ion-select [(ngModel)]="degree" placeholder="Seleccionar grado" (click)="getStudents()" (ionChange)="filterStudents()" color="my-color" multiple="false"
        cancelText="Cancelar" okText="Aceptar">
        <ion-select-option value=1>1</ion-select-option>
        <ion-select-option value=2>2</ion-select-option>
        <ion-select-option value=3>3</ion-select-option>
        <ion-select-option value=4>4</ion-select-option>
        <ion-select-option value=5>5</ion-select-option>
        <ion-select-option value=6>6</ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item class="wrap-input" *ngIf="studentsFiltered != undefined">
      <div class="back-circle"></div>
      <ion-title class="input-label mr">Estudiantes por grados</ion-title>
    </ion-item>
    <ion-list *ngIf="studentsFiltered != undefined" class="wrap-input">
      <ion-item class="wrap-input" color="#622d87" >
        <ion-label class="input-label black">
          Nombre</ion-label>
        <ion-label class="input-label black">
          Grado</ion-label>
        <ion-label class="input-label black">
          Sección</ion-label>
        </ion-item>
      <ion-item class="wrap-input" *ngFor="let student of studentsFiltered">
        <ion-label class="input-label">
          {{student.student}}</ion-label>
        <ion-label class="input-label">
          {{student.degree}}</ion-label>
        <ion-label class="input-label">
          {{student.section}}</ion-label>
        </ion-item>
    </ion-list>



  </div>


</ion-content>