<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Inicie sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">


    <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <path fill="#7fff00"
        d="M68.6,-33.5C81.6,-17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z"
        transform="translate(100 100)" />
    </svg>

    <div class="ion-padding">

      <form class="ion-padding">


        <div class="wrap-input">
          <input [(ngModel)]="email" class="input" type="text" name="user-email" placeholder="Correo electrónico">
        </div>

        <div class="wrap-input">
          <input [(ngModel)]="password" class="input" type="password" name="password" placeholder="Contraseña">
        </div>

        <div class="container-form-btn">
          <button class="learn-more" (click)="login()">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Ingresar</span>
          </button>
        </div>


      </form>

    </div>


</ion-content>

