<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Registrar estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">



  <div class="ion-padding">

    <form #userPost="ngForm" class="ion-padding" [formGroup]="formData" (ngSubmit)="onSubmit(userPost.value)">

      <div class="wrap-label">
        <label class="custom-font label">Nombre de estudiante</label>
      </div>
      <div class="wrap-input">
        <input formControlName="student" class="input" type="text" name="student" placeholder="Añadir">
      </div>
      <div class="wrap-label">
        <label class="custom-font label">Fecha de nacimiento</label>
      </div>
      <div class="wrap-input">
        <input formControlName="birthday" class="input dates" type="date" name="birthday">
      </div>
      <div class="wrap-label">
        <label class="custom-font label">Nombre del padre</label>
      </div>
      <div class="wrap-input">
        <input formControlName="father" class="input" type="text" name="father" placeholder="Añadir">
      </div>
      <div class="wrap-label">
        <label class="custom-font label">Nombre de la madre</label>
      </div>
      <div class="wrap-input">
        <input formControlName="mother" class="input" type="text" name="mother" placeholder="Añadir">
      </div>
      <div class="wrap-label">
        <label class="custom-font label">Curso</label>
      </div>
      <ion-item class="wrap-input" color="#622d87!important">
        <ion-label class="input-label" color="my-color" *ngIf="this.formData.value.degree == null">Seleccionar</ion-label>
        <ion-select formControlName="degree" color="my-color" multiple="false" cancelText="Cancelar" okText="Aceptar">
          <ion-select-option value=1>1</ion-select-option>
          <ion-select-option value=2>2</ion-select-option>
          <ion-select-option value=3>3</ion-select-option>
          <ion-select-option value=4>4</ion-select-option>
          <ion-select-option value=5>5</ion-select-option>
          <ion-select-option value=6>6</ion-select-option>

        </ion-select>
      </ion-item>
      <div class="wrap-label">
        <label class="ion-text-center custom-font label">Sección</label>
      </div>
      <ion-item class="wrap-input" color="#622d87 !important">
        <ion-label class="input-label" color="black" *ngIf="this.formData.value.section == null">Seleccionar</ion-label>
        <ion-select formControlName="section" color="black" multiple="false" cancelText="Cancelar" okText="Aceptar">
          <ion-select-option value="A">A</ion-select-option>
          <ion-select-option value="B">B</ion-select-option>
          <ion-select-option value="C">C</ion-select-option>
          <ion-select-option value="D">D</ion-select-option>
          <ion-select-option value="E">E</ion-select-option>
          <ion-select-option value="F">F</ion-select-option>

        </ion-select>
      </ion-item>
      <div class="wrap-label">
        <label class="ion-text-center custom-font label">Fecha de inscripción</label>
      </div>  
      <div class="wrap-input">
        <input formControlName="inscription" class="input dates" type="date" name="inscription">
      </div>



      <div class="flex-row">
        <div class="container-form-btn">
          <button class="learn-more" type="submit">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Registrar</span>
          </button>
        </div>
      </div>
      
      
    </form>
    <div class="flex-row ion-padding">
      <div class="container-form-btn">
        <button class="learn-more" (click)="studentTables()">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">Ver Cursos</span>
        </button>
      </div>
    </div>
    <div class="flex-row ion-padding">
      <div class="container-form-btn">
        <button class="learn-more" (click)="home()">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">Inicio</span>
        </button>
      </div>
    </div>

  </div>


</ion-content>